@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.01rem);
    overflow: hidden;
}
.bg-top {
    position: absolute;
    top: -80%;
    left: -30%;
    z-index: -1;
}

.bg-bottom {
    position: absolute;
    bottom: -80%;
    right: -30%;
    z-index: -1;
}
img {
    max-width: 100%;
    width: 100%;
}

ul{
    list-style-type: none;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 0.625rem;
}

.container article:first-child {
    position: relative;
}

.container article:first-child img{
    border-radius: 0.625rem 0.625rem 0 0;
    
}

.container article:first-child div img{
    border-radius: 50%;
    width: 7.5rem;
    position: absolute;
    left: 50%;
    bottom: -3.5rem;
    transform: translateX(-50%);
    border: 5px solid white;
}
.container article:nth-child(2) {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.container article:nth-child(2) h1{
    color: hsl(229, 23%, 23%);
}
.container article:nth-child(2) span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
.container article:nth-child(2) p {
    color: hsl(227, 10%, 46%);
    margin-top: 1rem;
}

.container article:nth-child(3) {
    border-top: 2px solid hsl(227, 10%, 46%, 0.2);
    padding: 2rem;
 
}
.container article:nth-child(3) ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container article:nth-child(3) ul li {
   font-weight: 700;
   color: hsl(229, 23%, 23%);
   font-size: 1.3rem;
   text-align: center;
}
.container article:nth-child(3) ul li span {
    display: block;
    font-weight: 400;
    font-size: 0.8rem;
    color: hsl(227, 10%, 46%);
    letter-spacing: 0.15rem;
    margin-top: 0.3rem;
 }
 
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}